* {
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
}
.input,
.output,
input,
label {
  background-color: aliceblue;
  margin: 1vh;
}
.box {
  background-color: aliceblue;
  margin: 8vh auto;
  display: grid;
  width: 40vw;
  height: 40vh;
  border: 2px solid hotpink;
  grid-template-columns: auto;
  place-items: center;
  justify-content: space-around;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.btn {
  width: 20vw;
  font-size: 1.5em;
}
footer{
  border:2px solid rosybrown;
  border-radius: 20px;
  color:black;
  margin:2vh 0;
  font-size: 1.5rem;
  text-align: center;
}
footer h4{
  margin:1vh;
  font-size: 3rem;
  color: violet;
}
.link{
  margin:1.5vh; 
}
.link a{
  font-size: 2rem;
}
.copy{
  margin:3vh;
}
.link a:hover{
  color: red;
}